/*  Typography        */
/*--------------------*/
body {
	font-family: var(--ff-1);
	font-weight: 400;
	font-size: var(--h6);
	line-height: 1.4em;
	color: var(--clr-text);
}
.text {
	--text-space: 1rem;
	--text-rd: var(--rd-1);
	--text-li-padding: 2rem;
	--text-th-height: 4rem;
	--text-th-padding: 1.5rem;
	font-size: var(--text);
	line-height: 1.4em;
	font-weight: 400;
	color: var(--clr-text);
}
.text * + :where(*) {
	margin-top: calc(var(--text-space) * 3);
}
.text * + :is(p, ul, ol, li) {
	margin-top: var(--text-space);
}
.text :is(img, table, iframe, figure, picture, blockquote, .swiper-entry) + *:not(figcaption) {
	margin-top: calc(var(--text-space) * 3);
}
.text .swiper-entry > * * {
	margin-top: 0;
}
.text b {
	font-weight: 500;
}
.text b,
.text span {
	color: var(--clr-primary);
}
.text strong {
	font-weight: 700;
}
.text em {
	font-style: italic;
	font-weight: 500;
}
.text a:not(.btn) {
	display: inline;
	font-weight: 500;
	color: var(--clr-primary);
	text-decoration: underline;
	text-decoration-color: transparent;
}
.text ul li,
.text ol li {
	position: relative;
	padding-left: var(--text-li-padding);
}
.text ul li:before {
	content: '';
	position: absolute;
	left: calc(var(--text-li-padding) / 2 - 0.5em);
	top: 0.5em;
	width: 0.5em;
	height: 0.5em;
	border-radius: 100%;
	background-color: var(--clr-primary);
}
.text ol {
	counter-reset: number;
}
.text ol li:before {
	counter-increment: number;
	content: counter(number, decimal-leading-zero) '.';
	display: inline-block;
	position: absolute;
	left: 0;
	font-weight: 500;
	line-height: inherit;
	color: var(--clr-primary);
}
.text img {
	display: block;
	width: 100%;
	border-radius: var(--text-rd);
}
.text figure {
	line-height: 0;
	width: 100%;
}
.text figure.aligncenter {
	text-align: center;
}
.text figure.alignright {
	text-align: right;
}
.text figure > img {
	width: auto;
}
.text figure figcaption {
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.5em;
	color: var(--clr-black);
	margin: 0.25rem;
}
.text iframe {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	aspect-ratio: 16/9;
	border: 0;
	border-radius: var(--text-rd);
}
.text blockquote {
	text-align: left;
	font-weight: 500;
	padding-block: calc(var(--text-space) * 3);
	padding-inline: clamp(1rem, -6.54rem + 15.6vw, var(--text-space) * 6);
	color: var(--clr-black);
	background-color: var(--clr-grey);
	border-radius: var(--text-rd);
}
.text table {
	border-collapse: collapse;
	width: 100%;
}
.text tbody tr {
	text-align: left;
}
.text tbody tr:nth-child(even) th,
.text tbody tr:nth-child(even) td {
	background-color: var(--clr-grey);
}
.text tbody tr:last-child:not(:nth-child(even)) {
	border-bottom: 0.0625rem solid var(--clr-grey);
}
.text thead tr {
	border: none;
}
.text thead th,
.text thead td {
	height: var(--text-th-height);
	font-weight: 500;
	color: var(--clr-black);
	background-color: var(--clr-grey);
}
.text td,
.text th {
	vertical-align: middle;
	height: calc(var(--text-th-height) / 1.4);
	padding: calc(var(--text-th-padding) / 3);
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: var(--clr-text);
}
.text td:first-child,
.text th:first-child {
	padding-left: var(--text-th-padding);
	border-radius: var(--text-rd) 0 0 var(--text-rd);
}
.text td:last-child,
.text th:last-child {
	padding-right: var(--text-th-padding);
	border-radius: 0 var(--text-rd) var(--text-rd) 0;
}
.text *:first-child img {
	margin-top: 0;
}
:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
	font-weight: 500;
	color: var(--clr-title);
}
h1,
.h1 {
	font-size: var(--h1);
	line-height: 1.15em;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
h2,
.h2 {
	font-size: var(--h2);
	line-height: 1.15em;
}
h3,
.h3 {
	font-size: var(--h3);
	line-height: 1.25em;
}
h4,
.h4 {
	font-size: var(--h4);
	line-height: 1.25em;
}
h5,
.h5 {
	font-size: var(--h5);
	line-height: 1.4em;
}
h6,
.h6 {
	font-size: var(--h6);
	line-height: 1.4em;
}
.text-balance {
	text-wrap: balance;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.title {
	color: var(--clr-title);
	text-transform: uppercase;
	font-weight: 700;
}

.section-title {
	display: inline-flex;
	align-items: center;
	color: var(--clr-title);
	text-transform: uppercase;
	font-weight: 700;
}
.section-title::before {
	content: '';
	display: block;
	flex: 0 0 1.25rem;
	height: 1.25rem;
	background-color: var(--clr-primary);
	margin-right: 2.5rem;
}

.title span {
	color: var(--clr-primary);
}
.title-margin {
	margin-bottom: var(--sp-md);
}
.char {
	transform: translateY(115px);
	transition: transform 0.5s;
}
.title > .line {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	overflow: hidden;
}

@media (min-width: 1200px) {
	.text a:not(.btn):hover {
		text-decoration-color: currentColor;
	}
}
@media (max-width: 991px) {
	.text {
		--text-space: 0.75rem;
		--text-li-padding: 1.5rem;
		--text-th-height: 3.5rem;
		--text-th-padding: 0.5rem;
	}
}
/*--------------------*/
